# Environments
*.env

# Datasets & Output Data
data/parsed
data/raw
data/results
results/plots

# Python
__pycache__

# Node
node_modules

# IDEs
.vscode
.idea

# MacOS Files
**/.DS_Store
**/.AppleDouble
**/.LSOverride
