# Environments
*.env

# Datasets
data/parsed
data/raw

# Output Data
results/plots
results/data

# Python
__pycache__

# Node
node_modules

# IDEs
.vscode
.idea

# MacOS Files
**/.DS_Store
**/.AppleDouble
**/.LSOverride
